<h1>Burgers</h1>


<h2>Uneaten burgers</h2>
<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
        <li>
        {{this.burger_name}}

        <form action="bugers/upadate/devour/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">Eat!</button>
        </form>
      </li> 
    {{/unless}}
  {{/each}}
</ul>


<h2>Burgers that have been devoured!</h2>
<ul>
  {{#each burgers}}
    {{#if this.devoured}}
        <li>
        {{this.burgers_name}}
        <form action="burgers/update/return/{{this.id}}?_method=PUT" method="POST">
          input type="hidden" name="devoured" value="0">
          <button type="submit" id="eatButton"></button>
        </form>
        <form action="burgers/delete/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" id="eatButton"></button>
        </li>
    {{/if}}
  {{/each}}
</ul>
<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <div class="form-group">
    <label for="dev">Devoured?</label><br>
    <input type="text" name="burger" <br>
  </div>
  <button type="submit">Add Burger</button>
</form>